* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.stripe {
  width: 100vw;
  height: 147px;
  top: 0;
  background-color: #009688;
  position: fixed;
  z-index: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-color: #dadbd2;
}

.app-wrapper {
  position: relative;
  display: flex;
  height: calc(100% - 50px);
  width: 80%;
  top: 25px;
  background-color: #f7f7f7;
  margin: 0 auto;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19),
    0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

/* SEZIONE SINISTRA */
.left {
  width: 35%;
  height: 100%;
  background-color: #6f8684;
}

.left__header {
  display: flex;
  background-color: #eaeaea;
  height: 70px;
  width: 100%;
  justify-content: space-between;
}

.header__image-profile {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.header__image-profile img {
  width: 50px;
  height: auto;
  border-radius: 100%;
}

.header__icons {
  width: 73%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 22px;
  padding-right: 26px;
}

.header__icons i {
  color: #b1b1b1;
  margin-left: 18px;
}

.left__notifications {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #8edafc;
}

.notifications__bell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 20px;
  background-color: #fff;
  margin: auto 0 auto 20px;
  background: #f2fbff;
  border-radius: 100%;
  color: #8edafc;
}

.notifications__disclaimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
  overflow: hidden;
}
.notifications__disclaimer p:nth-child(1) {
  font-weight: 500;
  font-size: 15px;
}
.notifications__disclaimer p:nth-child(2) {
  color: #4f7485;
  font-size: 13.5px;
  text-decoration: underline;
}

.left__search {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #fafafa;
}

.search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 36px;
  background-color: #fff;
  border-left: 0;
  border-top: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.left__search input {
  width: calc(100% - 70px);
  height: 36px;
  border-radius: 0px 3px 3px 0;
  border-left: 0;
  border-top: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.left__user {
  height: calc(100% - 70px - 80px - 50px);
  width: 100%;
  background-color: white;
  overflow-y: scroll;
}

.user__msg {
  display: flex;
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  height: 80px;
}

.user__msg:hover {
  background-color: #e9ebeb;
}

.msg--active {
  background-color: #e9ebeb;
}

.msg__user-img {
  width: 91px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.msg__user-img img {
  width: 60px;
  height: auto;
  border-radius: 100%;
}

.msg__user-name-last {
  display: flex;
  width: 200px;
  padding-left: 13px;
  flex-direction: column;
  line-height: 24px;
  justify-content: center;
}
.msg__user-name-last p:nth-child(1) {
  font-size: 17px;
}
.msg__user-name-last p:nth-child(2) {
  font-size: 13px;
  color: #b6b9bb;
}

.msg__user-name-time {
  width: 56%;
  padding: 25px 15px;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 300;
  color: #b6b9bb;
}

/* SEZIONE DESTRA */
.right {
  width: 65%;
  height: 100%;
  background-color: rgb(37, 131, 99);
}

.right__header {
  display: flex;
  background-color: #eaeaea;
  height: 70px;
  width: 100%;
  border-left: 1px solid #e4dcd4;
  overflow: hidden;
}

.header__user-img {
  width: 75px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.header__user-img img {
  width: 50px;
  height: auto;
  border-radius: 100%;
}
.header__user-name-last {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.header__user-name-last p:nth-child(2) {
  font-size: 13px;
  color: #6b7376;
}

.right__chat {
  display: flex;
  height: calc(100% - 70px - 70px);
  width: 100%;
  background-image: url(../img/bg.jpg);
  overflow-y: scroll;
  padding: 50px 70px;
}

.chat__window {
  display: none;
  flex-direction: column;
  width: 100%;
}

.window--active {
  display: flex;
}

.window__message {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 132px;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 55px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 18px;
  border-radius: 10px;
  margin: 20px;
}

.message--in {
  background-color: #ffffff;
  border-radius: 0 10px 10px 10px;
  /*   clip-path: polygon(0 0, 100% 0, 100% 207%, 8% 207%, 8% 19%);
 */
}
.message--out {
  background-color: #d5f9ba;
  align-self: flex-end;
  border-radius: 10px 10px 10px 0;
  /*   clip-path: polygon(0 0, 100% 0, 90% 20%, 90% 206%, 0% 207%);
 */
}

.message__panel {
  display: none;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  min-width: 142px;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 70px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 13px;
  top: 44px;
  right: 0%;
  z-index: 999;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19),
    0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.message__panel span:hover {
  color: #6b7376;
}

.panel--active {
  display: flex;
}

.window__message i {
  display: none;
  cursor: pointer;
  padding-left: 8px;
  color: #b6b9bb;
}

#time {
  position: absolute;
  font-size: 10px;
  font-weight: 300;
  color: #b6b9bb;
  margin: 0 10px 8px;
  bottom: 0;
  right: 7px;
}

.window__message:hover i {
  display: inline-block;
}

.right__send-msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #e4dcd4;
  width: 100%;
  height: 70px;
  background-color: #f3eeea;
}

.send-msg__smiles {
  display: flex;
  justify-content: center;
  width: 100px;
  height: auto;
}
.send-msg__smiles i {
  font-size: 25px;
  color: #6b7376;
}

.send-msg__input-box {
  height: 50px;
  width: 85%;
  border-radius: 7px;
  padding: 20px;
  font-size: 14px;
  border: 0;
}

.send-msg__send {
  display: flex;
  justify-content: center;
  width: 100px;
}
